@import "@/styles/variable";

.root {
  align-items: baseline;
  display: flex;
  height: 40px;
}

.input {
  width: 100%;

  input {
    letter-spacing: 0.15rem;
  }
}

.btn {
  margin-left: 40px;
  width: 100px;
}
